
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
h1{
    color:white;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.entrada p{
    color:white;
    text-align: center;

}
.logo{
   width: 200px;
   padding-left: 2rem;
   padding-top: 2rem;
   padding-bottom: 1rem;
}
#navegador ul li {
    background-color:white;
    color: black;
}

#navegador ul {
  list-style:none;
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
}

#navegador ul a {
  display:inline-flex;
  text-decoration:none;
  padding: 16px; 
  letter-spacing:1px;

}

#navegador{
    display:flex;
    flex-direction: column;
}

.entrada{
    height: 500px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.music{
    width: 50px;
}
.HD-icon{
    width: 50px;
}
.stream{
    width: 50px;
}

#boxes {
    text-align: center;
    margin: 0;

}

#boxes h3{
    text-decoration: underline #00B172;
    

}

#boxes h4{
    
    color:#00B172
}

#articles {
    background-color: #00B172;
    color:#fff;
}

#articles h4{
    text-align: center;
    padding-top:0.5rem;
    font-size: 18px;  
    padding-bottom: 1.5rem;
    color:#fff;
    text-decoration: none;
   
}


#articles h3{
    text-decoration: underline #fff;
    padding-top: 1rem;
    padding-left: 2rem;
    text-size-adjust: 25px;
    text-align: center;
    font-size: 25px;
}

#articles p {
    text-align: left;
    word-spacing: 0.5rem;
    text-align: center;
    padding-right:2rem;
}

#articles p{
    display: none;
}

#boxes p{
    display:none;
}
.app{
    display:none;
}
.logo-blanco{
    display: none;
}


@media (min-width:763px){

#navegador{
 display: inline flex;
 align-content: space-between;
 align-items: center;

}
#navegador ul{
    padding-left: 80rem;
    padding-top: 2rem;
    padding-right: 0;

}
#articles h4{
    display: flex;
    align-items: flex-start;
    padding-left: 3rem;
}
#articles h3  {
    display: flex;
    align-items: flex-start;
    padding-left: 3rem;
}
#articles p {
    display: flex;
    align-items: flex-start;
    text-align: left;
    padding-left: 3rem;
    padding-right:25rem ;

}

#boxes p {
    display: flex;
}
.todos-boxes {
    display: inline-flex;
    align-items: center;
    align-content: space-around;
}

.boxes1{
    padding: 5rem;
}
.boxes2{
  padding: 5rem;
}
.boxes3{
    padding: 5rem;
}

#navegador {
    display: flex;
    flex-direction: row;
}

#articles{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
}
.logo-blanco{
    display: flex;
    width: 80px;
    padding-left: 15rem;
}
.app{
    display: flex;
    width: 300px;
    padding-left: 10rem;
    padding-right: 20rem ;
    
}
.todos{
    text-align: right;
}
}