
body{
    margin:auto;
}
h1{
    color:white;
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 15rem;
}

.entrada p{
    color:white;
    text-size-adjust: 38px;
    text-align: center;

}
.logo{
   width: 200px;
   padding-top: 2rem;
   padding-left: 2rem;
}

#navegador ul li {
    background-color:white;
}

#navegador ul {
  list-style:none;
  margin:0;
  padding:0;
}

#navegador ul a {
  display:inline-block;
  text-decoration:none;
  font-weight:400;
  font-size:15px;
  padding:10px;
  letter-spacing:1px;
}

.entrada{
    height: 500px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
}

.music{
    width: 50px;
}
.HD-icon{
    width: 50px;
}
.stream{
    width: 50px;
}

#boxes {
    text-align: center;
    margin: 0;

}

#boxes h3{
    text-decoration: underline #00B172;
    

}

#boxes h4{
    
    color:#00B172
}

#articles {
    background-color: #00B172;
    color:#fff;
    padding-left: 2.5rem;
}

#articles h4{
    

}
#articles h3{
    text-decoration: underline #fff;
    padding-top: 1rem;
}

#articles p {
    text-align: left;
    padding-right: 3rem;
    word-spacing: 0.5rem;
}