
body{
    margin:auto;
}

.navegador{
    display: block
}
.logo{
   width: 200px;
   padding-top: 2rem;
   padding-left: 2rem;
}

.listado-entrada{
    list-style: none;
    display: inline-flex;
    align-items: flex-end;
    justify-content: end;
}
.entrada{
    height: 800px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
}